body { 
	margin: auto;
	max-width: 1200px;
	text-align: center;
	font-family: Verdana;

}

.head-shot {
	width: 200px;
	height: 200px;
	border-radius:100%;
	margin: 8px;

}

nav {
	float: center;
	margin-left: 5%;
	margin-right: 5%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

}

nav ul {
	display: inline-block;
	padding-inline-start: 0px !important;
	margin-block-start: 8px;
    margin-block-end: 8px;
}

nav li {
	display: inline-block;
	padding: 10px;
	margin: auto;
	text-transform: uppercase;

}

nav li a {
	color: black;
	text-decoration: none;

}

nav li a:hover{
	color: blue;
}


.container{
	max-width: 1200px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;

}
.container p{
	padding: 2px;
	line-height: 1.5;
}

.container h3{
	text-align: center;
}

footer {
	border-top: 1px solid black;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	color: gray;

}

.resume{
	max-width: 1200px;
	text-align: left;
	margin-left: 5% !important;
	margin-right: 5%;
	line-height: 1.5;

}

#resume-button{
	margin-top: 15px;
	padding: 5px;
	float: center;
	background-color: lightgray;
	border: 1px solid black;
	color: black;
	text-align: center;
	font-size: 16px;

}

#resume-button:hover{
	background-color: gray;
	color: white;
}

.work-experience{
	border-top: 1px solid lightgray;
}

.work-company{
	margin-top: 8px;
	margin-bottom: 1px;

}

.work-address{
	margin-top: 1px;
	margin-bottom: 4px;
}

.work-position{
	text-decoration: underline;
	font-style: italic;
}

.skills li{
	display: inline-block;
	padding: 5px;
	margin: auto;
	border-color: gray;
	border-radius: 20%;
}