.custom-tab {
    color: gray !important; /* Ensure the text color remains white */
    background-color: white !important; /* Transparent background for inactive tabs */
    border: 1px solid gray; /* No border for inactive tabs */
    border-color: rgba(128, 128, 128, 0.189) !important;
    border-bottom-color: rgb(161, 161, 161) !important; /* Black border on bottom for inactive tabs */

    /* border-radius: 5px; Rounded edges */
  }
  
  .custom-tab.active {
    color: black !important; /* White text color for active tab */
    background-color: white !important; /* Transparent background for inactive tabs */
    background-color: rgb(248 249 250) !important;  /*Dark background for active tab */
    border-color: rgb(161, 161, 161) !important;
    border-bottom-color: transparent !important; /* No border on bottom for active tab */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid white;  White border to delineate active tab */
  }
  
  .custom-tab:hover {
    color: #cccccc !important; /* Slightly lighter color on hover for all tabs */
  }
